body {
    font-family: "Poppins", sans-serif;
}

.banner {
    background-image: url(/images/mountains-black-and-white-ap.jpg);
    padding: 280px;
    background-size: cover;
    background-repeat: no-repeat;
}
.shine-text {
    position: relative;
    color: #fff;
    /* Set a base color for the text */
    font-weight: bold;
    /* Make the text bold for better visibility */
    overflow: hidden;
    /* Hide overflow to keep the shine effect contained */
}

.shine-text::before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    /* Start from the left */
    width: 200%;
    /* Cover more than the full width of the text */
    height: 100%;
    /* Cover the full height of the text */
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0));
    /* Lower transparency */
    animation: shine 3s infinite;
    /* Animation for shine effect */
}

@keyframes shine {
    0% {
        left: -100%;
        /* Start from the left */
    }

    50% {
        left: 100%;
        /* Move to the right */
    }

    100% {
        left: -100%;
        /* Reset to the left */
    }
}

.btn {
    position: relative;
    /* Ensure the button is positioned relative for the shine effect */
    overflow: hidden;
    /* Hide overflow to keep the shine effect contained */
}

#about{
    color: white;
    background-color: rgb(5, 5, 5);
}

.custom-margin {
    margin-left: 150px;
    /* Adjust this value as needed */
}

.card {
    margin: 25px;
}

#video-background {
    position: relative;
    overflow: hidden;
}

.bg-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1; /* Ensure the video is behind other content */
    transform: translate(-50%, -50%);
}
h4{
    color: white;
}